/* ==========================================================================
   Form
   ========================================================================== */
/* safari form fix */
input,
input[type="text"],
input[type="email"],
textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
	-webkit-box-shadow: none;
}

/* remove chrome autofill yellow color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-transition-delay: 2000s;
}



.c-form-item {
	position: relative;
	width: 100%;
	padding-bottom: 1.5em;
}

.wpcf7-text,
.wpcf7-textarea,
.c-form-text,
.c-form-textarea {
	width: 100%;
	border: solid 1px $border-basic;
	color: $text-color;
	padding: 0.6em 10px;
	background-color: $bg-content;
}

.wpcf7-textarea,
.c-form-textarea {
	min-height: 12em;
}

.wpcf7-text:focus,
.wpcf7-textarea:focus,
.c-form-text:focus,
.c-form-textarea:focus {
	border-color: $text-color-dark;
	outline: none;
}


.c-form-standard label {
	display: block;
	padding-bottom: 0.25em;
}


input::placeholder { 
	color: $text-color;
	opacity: .5;
}

.c-form-separator {
	padding-top: 2.5em;
}

/* ==========================================================================
   checkbox / radios
   ========================================================================== */

.c-form-standard input[type="checkbox"],
.c-form-standard input[type="radio"] {
    margin: 4px 0 0;
    margin-top: 0;
    line-height: normal;
}

.c-form-standard input[type="checkbox"]:checked,
.c-form-standard input[type="checkbox"]:not(:checked),
.c-form-standard input[type="radio"]:checked,
.c-form-standard input[type="radio"]:not(:checked){
    position: absolute;
    left: -9999px;
}

.c-form-standard input[type="checkbox"]+label,
.c-form-standard input[type="radio"]+label {
    margin-left: 0;
    font-weight: 300;
    overflow: hidden;
}

.c-form-standard input[type="checkbox"]:checked+label,
.c-form-standard input[type="checkbox"]:not(:checked)+label,
.c-form-standard input[type="radio"]:checked+label,
.c-form-standard input[type="radio"]:not(:checked)+label{
    position: relative;
	display: inline-block;
    padding-left: 44px;
    padding-top: 0.25em;
	line-height: 1.5;
    cursor: pointer;
    user-select: none;
	min-height: 33px;
}

.c-form-standard input[type="checkbox"]:checked+label::before,
.c-form-standard input[type="checkbox"]:not(:checked)+label::before,
.c-form-standard input[type="radio"]:checked+label::before,
.c-form-standard input[type="radio"]:not(:checked)+label::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0.15em;
    width: 30px;
    height: 30px;
    border: 1px solid $border-basic;
    background-color: $bg-content;
    transition: all 0.2s ease-in-out;
}

.c-form-standard input[type="radio"]:checked+label::before,
.c-form-standard input[type="radio"]:not(:checked)+label::before{
    border-radius: 50%;
}

.c-form-standard input[type="checkbox"]:focus+label::before,
.c-form-standard input[type="radio"]:focus+label::before {
    border-color: $text-color-dark;
    background-color: $bg-content;
}


.c-form-standard input[type="checkbox"]:checked+label::before,
.c-form-standard input[type="radio"]:checked+label::before {
    background-color: $bg-content;
}

.c-form-standard input[type="checkbox"]:checked+label::after,
.c-form-standard input[type="checkbox"]:not(:checked)+label::after,
.c-form-standard input[type="radio"]:checked+label::after,
.c-form-standard input[type="radio"]:not(:checked)+label::after {
    content: '';
    display: block;
    position: absolute;
    top: calc(0.15em + 6px);
    left: 6px;
    transition: all .2s ease-in-out;
    height: 18px;
    width: 18px;
	background-color: $text-color-dark;
}

.c-form-standard input[type="radio"]:checked+label::after,
.c-form-standard input[type="radio"]:not(:checked)+label::after {
    border-radius: 50%;
}

.c-form-standard input[type="checkbox"]:not(:checked)+label::after,
.c-form-standard input[type="radio"]:not(:checked)+label::after {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.c-form-standard input[type="checkbox"]:checked+label::after,
.c-form-standard input[type="radio"]:checked+label::after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}


/* ==========================================================================
   dropdown
   ========================================================================== */


/* 2019-05-16 styling not finished */
.c-form-select {
    display: block;
	/*padding: 3px 40px 3px 0 !important; */
	padding: 0 30px 0 6px !important;
	width: 100%;
	height: auto !important;
	border: 1px solid $border-basic;
    border-radius: 0;
	background: url("../images/arrow-down.svg") right center no-repeat;
	background-color: $bg-content;
	color: $text-color;
	font-size: 100%;
	/*line-height: 20px !important; */
	line-height: 38px !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;	
}

.c-form-select:focus {
    border-color: $text-color-dark;
	outline: none;
}

.c-form-select option {
	padding: 0;
	outline: none;
}



.c-form-select::-ms-expand {
	display: none;
}

.c-form-select:disabled::-ms-expand {
	opacity: 0.5;
}

.c-form-select:disabled,
.c-form-select[disabled] {
	opacity:0.5;
}



/* error */
.screen-reader-response,
.wpcf7-validation-errors{
    display: none;
}

.c-form-error .c-form-text,
.c-form-error .c-form-textarea,
.c-form-standard .c-form-error input[type="checkbox"]:checked+label::before,
.c-form-standard .c-form-error input[type="checkbox"]:not(:checked)+label::before{
	border-color: $bg-primary;
}

.wpcf7-not-valid-tip,
.c-form-error label,
.c-form-error span {
	color: $bg-primary;
}

.wpcf7-not-valid-tip,
.c-form-error span {
	display: block;
	padding-top: 0.25em;
}


/* ==========================================================================
   Directions
   ========================================================================== */


.c-direction-list input[type="radio"]:checked,
.c-direction-list input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.c-travel-icon {
	display: block;
	width: 70px;
	height: 70px;
	background-color: $bg-primary;
}

.c-travel-icon::before {
	top: 50%;
	left: 50%;
}

.c-travel-car::before {
	margin-top: -12px;
	margin-left: -14px;
	width: 28px;
	height: 25px;
	background-position: 0 -160px;
}

.c-travel-transit::before {
	margin-top: -16px;
	margin-left: -14px;
	width: 28px;
	height: 36px;
	background-position: 0 -200px;
}

.c-travel-bike::before {
	margin-top: -14px;
	margin-left: -19px;
	width: 39px;
	height: 28px;
	background-position: 0 -260px;
}

.c-travel-walk::before {
	margin-top: -15px;
	margin-left: -10px;
	width: 21px;
	height: 31px;
	background-position: 0 -300px;
}

.c-direction-list input[type="radio"]:checked+.c-travel-icon {
	background-color: $bg-content;
}

.c-direction-list input[type="radio"]:checked+.c-travel-car::before {
	background-position: -50px -160px;
}

.c-direction-list input[type="radio"]:checked+.c-travel-transit::before {
	background-position: -50px -200px;
}

.c-direction-list input[type="radio"]:checked+.c-travel-bike::before {
	background-position: -50px -260px;
}

.c-direction-list input[type="radio"]:checked+.c-travel-walk::before {
	background-position: -50px -300px;
}

.c-form-directions .c-form-text {
	width: calc(100% - 50px);
}

.c-form-directions .c-form-item {
	padding-bottom: 0;
	margin-bottom: 1.5em;
}
