/* ==========================================================================
   Viewport
   ========================================================================== */

@-ms-viewport {
	width: device-width;
}


/* ==========================================================================
   Mediaqueries
   ========================================================================== */



@media only screen and (min-width:1200px) {    
	/* grid gap */	
	.c-container,
	.c-container-medium {
		padding-left: 40px;
		padding-right: 40px;
	}
	.c-row {
		margin-right: -20px;
		margin-left: -20px;
	}
	
	.c-col-1,
	.c-col-2,
	.c-col-3,
	.c-col-4,
	.c-col-5,
	.c-col-6,
	.c-col-7,
	.c-col-8,
	.c-col-9,
	.c-col-10,
	.c-col-11,
	.c-col-12,
	.c-facts-item {
		padding-right: 20px;
		padding-left: 20px;
	}
	
	.c-img-2col-border {
		border-width: 40px 0 0 40px;
	}
	
	.c-img-3col-border {
		border-width: 40px;
	}

	.c-img-3col {
		padding-left: 0;
		padding-right: 0;
	}

	.c-img-3col .c-row {
		margin-left: 0;
		margin-right: 0;
	}

	.c-img-3col .c-row1 .c-col-5 {
		padding-left: 0;
	}

	.c-img-3col .c-row1 .c-col-6 {
		padding-right: 0;
	}
	
	.c-img-3col-alignment2 {
		margin-top: -7em;
	}
	
	.c-img-only {
		padding-left: 0;
	}
	
	.c-teaser-text {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.c-box,
	.c-directions-panel {
		padding: 40px;
	}
	
	.mediaslider .slider ul li + li {
		padding-left: 40px;
	}
	
	.c-slider-facts-control .c-slider-control-inner {
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media only screen and (min-width:1720px) {    
	/* container max width */
	.c-container-medium {
        max-width: 1680px;
        margin-left: auto;
		margin-right: auto;
    }	
}

@media only screen and (min-width:1400px) {    
	.c-showroom-text {
		padding-left: 100px;
		padding-right: 80px;
	}
}

@media only screen and (min-width:1300px) {    
	/* container max width */
	.c-container {
        max-width: 1240px;
        margin-left: auto;
		margin-right: auto;
    }
	
	.c-img-only figure {
		width: calc(50% + 600px);
	}
	
	/* teaser circle */
	.c-teaser-circle .c-col-7 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 calc(50% + 100px);
		-ms-flex: 0 0  calc(50% + 100px);
		flex: 0 0  calc(50% + 100px);
		max-width:  calc(50% + 100px);		
	}
	
	.c-teaser-circle .c-col-5 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 calc(50% - 100px);
		-ms-flex: 0 0  calc(50% - 100px);
		flex: 0 0  calc(50% - 100px);
		max-width:  calc(50% - 100px);
	}
	
	.c-teaser-circle-text {
		max-width: 660px;
	}
	
	.c-teaser-circle .c-row-reverse .c-teaser-circle-text {
		float: right;
	}
	
	.c-teaser-circle .c-row-reverse .c-teaser-circle-text:after {
		content: '';
		display: table;
		clear: both;
	}
}

@media only screen and (max-width:960px) { 
	.c-text-img-2col .c-col-5 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;  
	}
	
	.c-text-img-2col .c-row {
		align-items: flex-start; 
	}
	
	.c-img-3col .c-row1 .c-col-5 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;  
	}
	
	.c-img-3col-alignment1 {
		padding-top: 4em;
	}
	
	.c-img-3col-alignment2 {
		margin-top: -4em;
	}
	
	.c-teaser-3col .c-col-4 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%; 
	}
	
	.c-teaser-3col .c-col-4:nth-child(3) {
		padding-top: 2em;
	}
	
	.c-teaser-logo {
		width: 120px;
	}
}


@media only screen and (max-width:850px) { 
	.c-footer-main .c-col-3,
	.c-footer-main .c-col-5,
	.c-footer-main .c-col-4 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%; 
		text-align: center;
	}
	
	.c-footer-main .c-col-4 {
		padding-top: 4em;
		border-left: none;
		/*border-top: solid 1px $border-dark;*/
	}
	
	.c-footer-logo {
		margin: 0 auto 1.5em auto;
	}
	
	.c-facts .c-col-3 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 33.33333%;
		-ms-flex: 0 0 33.33333%;
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}
}

@media only screen and (max-width:760px) { 
	.c-showroom .c-col-6 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%; 
		text-align: center;
	}
	
	.c-showroom .c-showroom-img {
		max-width: 85%;
		margin: 0 auto 1.5em auto;
		
	}
	
	.c-text-only .c-col-8 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%; 
	}
	
	
	.c-text-img-2col .c-col-5 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 66.66667%;
		-ms-flex: 0 0 66.66667%;
		flex: 0 0 66.66667%;
		max-width: 66.66667%;
		
	}

	.c-text-img-2col .c-col-6 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 83.33333%;
		-ms-flex: 0 0 83.33333%;
		flex: 0 0 83.33333%;
		max-width: 83.33333%;
		
	}
	
	.c-text-img-2col-left .c-col-5 {
		padding-bottom: 2em;		
	}
	
	.c-text-img-2col-left .c-col-6 {
		margin-left: 16.667%;	
	}
	
	.c-text-img-2col-right .c-col-5 {
		padding-top: 2em;	
		margin-left: 33.333%;
	}
	
	
	.c-img-3col .c-row2 .c-col-6 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 66.66667%;
		-ms-flex: 0 0 66.66667%;
		flex: 0 0 66.66667%;
		max-width: 66.66667%;
		margin-left: 25%;
	}
	
	.c-teaser-3col .c-col-4,
	.c-teaser-2col .c-col-6 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%; 
		
	}
	
	.c-teaser-3col .c-col-4 + .c-col-4,
	.c-teaser-2col .c-col-6 + .c-col-6 {
		padding-top: 2em;
	}
	
	.c-teaser-3col .c-teaser-item {
		max-width: 450px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.c-museum-info .c-col-7 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 83.33333%;
		-ms-flex: 0 0 83.33333%;
		flex: 0 0 83.33333%;
		max-width: 83.33333%;
	}
	
	.c-museum-info .c-col-5 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 66.66667%;
		-ms-flex: 0 0 66.66667%;
		flex: 0 0 66.66667%;
		max-width: 66.66667%;
		margin-left: auto;
		padding-top: 1.5em;
	}
	
	
	.c-directions-panel {
		position: relative;
		width: 100%;
		height: auto;
		margin-top: 0;
	}
	
	.c-travel-icon {
		width: 54px;
		height: 54px;
	}
	
	.c-map {
		height: 60vh;
	}
	
	.c-form .c-col-10 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%; 
		
	}
	
	.c-section-title-big {
		padding-bottom: 3em;
	}
}

@media only screen and (max-width:600px) { 
	/* footer */
	.c-footer,
	.c-footer .c-text-right {
		text-align: center;
	}
	
	.c-footer-disclaimer .c-col-6 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;  
	}
	
	.c-footer-address-list li,
	.c-footer-address-list li:first-child {
		width: 100%;
		padding-right: 0;
	}
	
	.c-footer-address-list li + li {
		padding-top: 1.5em;
	}
	
	.c-footer-disclaimer-list {
		padding: 1em 0 2em 0;
	}
	
	.c-footer-disclaimer-list li {
		margin: 0.25em 0;
	}
	
	/* teaser circle */
	.c-teaser-circle .c-col-7,
	.c-teaser-circle .c-col-5 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		text-align: center;
	}
	
	.c-teaser-circle .c-col-5 {
		max-width: 200px;
		margin: 0 auto 1.5em auto;
	}
	
	/* quote */
	.c-quote .c-col-10,
	.c-text-img-2col .c-col-6 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%; 
	}
	
	.c-text-img-2col-left .c-col-6 {
		margin-left: 0; 
	}
	
	.c-img-2col .c-col-8 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 83.33333%;
		-ms-flex: 0 0 83.33333%;
		flex: 0 0 83.33333%;
		max-width: 83.33333%;
	}
	
	.c-img-2col-alignment {
		margin-top: -2em;
	}
	
	.c-img-2col-border {
		border-width: 10px 0 0 10px;
	}
	
	.c-img-3col .c-row1 .c-col-5,
	.c-img-3col .c-row1 .c-col-6 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 66.66667%;
		-ms-flex: 0 0 66.66667%;
		flex: 0 0 66.66667%;
		max-width: 66.66667%;
	}
	
	.c-img-3col-alignment1 {
		margin-top: -1.5em;
		padding-top: 0;
		margin-left: 33.333%;
	}
	
	.c-img-3col-alignment1 figure {
		border-top: solid 10px $bg-content;
		border-left: solid 10px $bg-content;
	}
	
	.c-img-3col-border {
		border-width: 10px;
		border-left: none;
	}
	
	.c-img-3col .c-row2 .c-col-6 {
		margin-left: 0;
		margin-top: -2em;
		padding-left: 45px;
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 calc(83.33333% - 10px);
		-ms-flex: 0 0 calc(83.33333% - 10px);
		flex: 0 0 calc(83.33333% - 10px);
		max-width: calc(83.33333% - 10px);
	}
	
	.c-museum-info .c-col-7 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	
	.c-text-img-circle .c-col-7 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 66.66667%;
		-ms-flex: 0 0 66.66667%;
		flex: 0 0 66.66667%;
		max-width: 66.66667%;
	}
}

@media only screen and (max-width:580px) { 	
	
	.c-form .c-col-6 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%; 
	}
	
	.c-facts .c-col-3 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}
	

@media only screen and (max-width:550px) { 	
	
	.c-text-img-circle .c-col-4,
	.c-text-img-circle .c-col-7 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%; 
		text-align: center;
	}
	
	.c-text-img-circle .c-col-4 {
		max-width: 200px;
		margin: 0 auto 1.5em auto;
	}
}

@media only screen and (max-width:450px) { 	
	
	.c-museum-info .c-col-5 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 91.66667%;
		-ms-flex: 0 0 91.66667%;
		flex: 0 0 91.66667%;
		max-width: 91.66667%;
		margin-right: auto;
		font-size: 14px;
	}
}
