/* ==========================================================================
   Slider Counter
   ========================================================================== */


/*
    Slider
*/
.mediaslider{

    /*margin-left: calc( +100vw / 2 - ( 1140px - 40px ) / 2);*/
	.c-row {
		margin-left: 0;
		margin-right: 0;
	}

    .slider{
        overflow: hidden;
        overflow-x: scroll;

        -ms-overflow-style: none;  // IE 10+
        scrollbar-width: none;  // Firefox
        
        &::-webkit-scrollbar { 
            display: none;  // Safari and Chrome
        }

        ul{
            list-style: none;
            white-space: nowrap;
            display: block;
            padding: 0;
            margin: 0;
            margin-right: 300px;
			font-size: 0;
            li{
                list-style: none;
                display: inline-block;
                vertical-align: top;
                white-space: nowrap;
                cursor: pointer;

                img,video{
                    height: 600px;
                }

                &.active{
                    cursor: grabbing;
                    transform: scale(1);                    
                }
            }
			
			li + li {
				padding-left: 30px;
			}
        }
    }
	

}

.slider-paging{
        
	margin-top: 0px;

	/*.slider-paging-left,
	.slider-paging-right{
		background-image: url("../images/sprite.svg");
		width: 25px;
		height: 20px;
		display: inline-block;
		cursor: pointer;
		background-position: 7px -95px;
		background-repeat: no-repeat;
		background-color: yellow;

		&.hidden{
			background-position: -93px -95px;
		}

		&.slider-paging-right{
			margin-left: 30px;
			background-position: 5px -75px;                
		}

		&.slider-paging-right.hidden{
			margin-left: 30px;
			background-position: -93px -75px;                
		}
	}*/
}

/* slider control links */
.slider-paging-left,
.slider-paging-right {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.slider-paging-right {
	margin-left: 5px;
}

.slider-paging-left::before,
.slider-paging-right::before {
	position: absolute;
	content:'';
	background-image:url(../images/sprite.svg);
	background-repeat: no-repeat;
	top: 50%;
	margin-top: -8px;
	width: 20px;
	height: 16px;
	background-position: 0 -100px;
	transition: all 0.2s ease-out;
}

.slider-paging-left::before {
	left: 0;
}

.slider-paging-left:focus::before,
.slider-paging-left:hover::before{
	left: -8px;
}

.slider-paging-right::before {
	right: 0;
	background-position: 0 -80px;
}

.slider-paging-right:focus::before,
.slider-paging-right:hover::before {
	right: -8px;
}

.c-text-light .slider-paging-left::before {
	background-position: -50px -100px;
}

.c-text-light .slider-paging-right::before {
	background-position: -50px -80px;
}

.slider-paging-disabled {
	cursor: default;
}

.c-text-light .slider-paging-disabled {
	opacity: 0.5;
}

.slider-paging-left.slider-paging-disabled:focus::before,
.slider-paging-left.slider-paging-disabled:hover::before {
	left: 0;
}

.slider-paging-right.slider-paging-disabled:focus::before,
.slider-paging-right.slider-paging-disabled:hover::before {
	right: 0;
}

.slider-paging-left.slider-paging-disabled::before {
	background-position: -100px -100px;
}

.slider-paging-right.slider-paging-disabled::before {
	background-position: -100px -80px;
}


.c-slider-img .mediaslider-start .slider {
    margin-left: 0px;
}


.c-slider-img-control {
	padding-top: 0.8em;

    &.large{
        width: 100%;
        max-width: 1680px;
        .c-slider-control-inner{
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

.c-slider-control-inner {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

/* facts slider - siema slider */
#f-siema-facts {
	padding-left: 0;
	padding-right: 0;
}

.c-slider-facts-control {
	padding-top: 1.6em;
}

.c-slider-facts-control .c-slider-control-inner {
	border-top: solid 1px $border-dark;
	padding-top: 0.5em;
	margin-left: 15px;
	margin-right: 15px;
	padding: 0.5em 0 0 0;
}



@media only screen and (min-width:1300px) {   
	.c-slider-img .mediaslider-start .slider {

		margin-left: 0;

        .slider-items{
            margin-left: calc( ( ( 100vw - 1240px ) / 2 ) + ( ( 1240px / 12) * 2 ) + 30px );


            &.large{
                margin-left: calc( ( ( 100vw - 1680px ) / 2 )  + 35px );
            }
        }

        figure img{
            height: 600px;
            width: auto;
        }
	}
	
	.c-slider-img .mediaslider-start .c-row {
		justify-content: flex-end;
	}
	
}

@media only screen and (min-width:960px) and (max-width:1299px) {   
	


    .c-slider-img .mediaslider-start .slider {

        .slider-items{
            margin-left: calc( ( ( ( 100vw - 60px ) / 12) * 2 ) + 30px  ) ;
        }

        figure img{
            height: 400px;
            width: auto;
        }
    }
		
}

@media only screen and (max-width:960px) { 
	.c-slider-img-control .c-col-10 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%; 
	}
    .c-slider-img .mediaslider-start .slider {
        figure img{
            height: 200px;
            width: auto;
        }
    }
    .mediaslider .slider ul li + li{
        padding-left: 15px;
    }
}