/* ==========================================================================
   Table
   ========================================================================== */

/* box around table, so it can scroll on small screens */
.c-table {
    overflow: auto;
	margin-bottom: 1.5em;
}

.c-table-layout {
    width: 100%;
	border-top: solid 1px $border-basic;	
}

.c-table-layout th,
.c-table-layout td {
	padding: 0.5em 15px 0.5em 0;
	border-bottom: solid 1px $border-basic;	
}






