
/* ==========================================================================
   Titles
   ========================================================================== */

h1, .c-h1,
h2, .c-h2,
h3, .c-h3,
h4, .c-h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-weight: 700;
	text-transform: uppercase;
	color: $text-color-dark;
}

.c-text-light h1, .c-text-light .c-h1,
.c-text-light h2, .c-text-light .c-h2,
.c-text-light h3, .c-text-light .c-h3,
.c-text-light h4, .c-text-light .c-h4,
.c-text-light h5,
.c-text-light h6 {
	color: $text-color-light;
}

h1, 
.c-h1 {
	padding-bottom: .6em;
	line-height: 1.2;
	font-size: 60px;
	
}

h2, 
.c-h2 {
	padding-bottom: .6em;
	line-height: 1.2;
	font-size: 50px;
}

.c-h2-big {
	font-size: 250px;
	margin-top: -0.08em;
	letter-spacing: -0.06em;
	padding-bottom: 0;
	margin-left: -0.05em;
}

h3,
.c-h3 {
	padding-bottom: .6em;
	line-height: 1.2;
	font-size: 34px;
}

h4, .c-h4 {
	font-size: 24px;
	padding-bottom: 0.5em;
	text-transform: none;
}

.c-footer h4, 
.c-footer .c-h4 {
	font-size: 18px;
	padding-bottom: 0.5em;
	text-transform: uppercase;
}

/* ==========================================================================
   Basic Text Content
   ========================================================================== */

.c-content,
.c-modal,
.c-footer {
	line-height: 1.5;
}

.c-text-block p,
.c-modal-dialog p,
.c-showroom-text p {
	padding-bottom: 1.5em;
}

.c-text-block p:last-child {
	padding-bottom: 0;
}

.c-header,
.c-footer-disclaimer,
.c-text-small,
.wpcf7-not-valid-tip,
.c-table {
	font-size: 16px;
}

.c-lead,
.c-showroom-text,
.c-date {
	font-size: 24px;
}

.c-lead,
.c-date,
.c-directions-distance,
.c-facts-number {
	font-weight: 700;
	color: $text-color-dark;
}

.c-text-light .c-lead,
.c-text-light .c-date,
.c-text-light .c-directions-distance,
.c-text-light .c-facts-number {
	color: $text-color-light;
}

.c-date {
	display: block;
	padding-bottom: 1em;
}

.c-header-meta {
	font-size: 14px;
	line-height: 1;
}

.c-directions-distance,
.c-facts-number {
	font-size: 34px;
	line-height: 1.2;
}

.c-facts-number,
.c-text-block .c-facts-number {
	padding-bottom: 0.5em;
}

.c-showroom .c-link-extern,
.c-showroom .c-link-arrow {
	font-size: 18px;
}

/* ==========================================================================
   Basic Lists Content 
   ========================================================================== */

.c-text-block ul {
	margin: 0 0 1.6em 0;
	padding: 0;
	list-style: none;
}

.c-text-block li {
	padding-bottom: 0.5em;
}

.c-text-block li:last-child {
	padding-bottom: 0;
}

.c-text-block ul li {
	position: relative;
	padding-left: 20px;
}

.c-text-block ul li::before {
	content: '';
	position: absolute;
	top: 0.7em;
	left: 0;
	width: 4px;
	height: 4px;
	background-color: $text-color;
	border-radius: 50%;
}

.c-text-light ul li::before {
	background-color: $text-color-light;
}

.c-text-block ol {
	margin: 0 0 1.6em 0;
	/*padding: 0 0 0 25px;*/
}


.c-list-number-policy,
.c-text-block .c-list-number-policy {
    list-style: none;
	padding: 0;
  }

.c-list-number-policy ol,
.c-text-block .c-list-number-policy ol {
    /*margin-left: 0;*/
	list-style: none;
	padding: 0;
 }

.c-list-number-policy li,
.c-text-block .c-list-number-policy li {
    /*counter-increment: clause;*/
	padding-left: 50px;
	position: relative;
}

.c-list-number-policy ul li,
.c-text-block .c-list-number-policy ul li {
	padding-left: 20px;
}


.c-list-number {
	position: absolute;
	left: 0;
	top: 0;
}

/* ==========================================================================
   Quote
   ========================================================================== */

.c-text-block blockquote {
	margin: 0; 
	padding: 0;
}

.c-text-block blockquote p {
	position: relative;
	padding: 0 0 0.5em 0;
	line-height: 1.2;
	font-size: 50px;
	font-weight: 400;
}

.c-text-block blockquote p::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100px;
	height: 6px;
	background-color: $bg-secondary;
}

.c-text-block blockquote cite {
	display: block;
	font-style: normal;
	font-size: 16px;
	padding-top: 1em;
}


/* ==========================================================================
   Text helpers
   ========================================================================== */

.c-text-right {
	text-align: right;	
}

.c-text-center {
	text-align: center;	
}

.c-text-light {
	color: $text-color-light;
}

/* ==========================================================================
   Text sizes responsive
   ========================================================================== */


/* big title */
@media only screen and (min-width:700px) and (max-width:1400px) {    
	.c-h2-big {
		font-size: 120px;
		font-size: 20vw;
	}
	
	
}

/* big title */
@media only screen and (max-width:699px) {    
	.c-h2-big {
		font-size: 70px;
	}
}

@media only screen and (max-width:1360px) {    
	h1, .c-h1 {
		font-size: 50px;
	}
	
	h2, .c-h2,
	.c-text-block blockquote p {
		font-size: 44px;
	}
	
	h3, .c-h3,
	.c-facts-number {
		font-size: 28px;
	}
}

@media only screen and (max-width:1200px) {    
	.c-header-meta {
		font-size: 12px;
	}
	
	.c-nav-main {
		font-size: 14px;
	}
}

@media only screen and (max-width:1024px) {    
	body,
	.c-showroom .c-link-extern,
	.c-showroom .c-link-arrow {
		font-size: 16px;
	}
	
	h1, .c-h1 {
		font-size: 40px;
	}
	
	h2, .c-h2 {
		font-size: 32px;
	}
	
	h3, .c-h3,
	.c-facts-number {
		font-size: 24px;
	}

	.c-text-block blockquote p {
		font-size: 32px;
	}
	
	.c-lead,
	.c-showroom-text,
	.c-date,
	h4, .c-h4 {
		font-size: 20px;
	}
		
	.c-footer h4, .c-footer .c-h4,
	.c-footer-disclaimer,
	.c-text-small,
	.wpcf7-not-valid-tip,
	.c-table {
		font-size: 14px;
	}
	
	.c-list-number-policy li,
	.c-text-block .c-list-number-policy li {
		padding-left: 40px;
	}
	
	.c-list-number-policy ol li,
	.c-text-block .c-list-number-policy ol li {
		padding-left: 46px;
	}

	.c-list-number-policy ul li,
	.c-text-block .c-list-number-policy ul li {
		padding-left: 20px;
	}
}

@media only screen and (max-width:580px) { 
	h1, .c-h1 {
		font-size: 30px;
	}
	
	h2, .c-h2 {
		font-size: 24px;
	}
	
	h3, .c-h3,
	.c-facts-number {
		font-size: 20px;
	}

	.c-text-block blockquote p {
		font-size: 24px;
	}
	
	.c-lead,
	.c-showroom-text,
	.c-date,
	h4, .c-h4 {
		font-size: 18px;
	}
	
	.c-facts {
		font-size: 14px;
	}
	
	.c-h2-big {
		font-size: 54px;
	}
}


