/* Variables, Naming may vary from project to project */

/* ==========================================================================
   Fonts
   ========================================================================== */

$font-stack-default: 'Lato', 'Arial', 'Helvetica', sans-serif;
$font-stack-sans: 'Lato', 'Arial', 'Helvetica', sans-serif;


/* ==========================================================================
   Colors
   ========================================================================== */

/* text */
$text-color: #555555; /* grey */
$text-color-dark: #252525; /* darker grey */
$text-color-light: #f1f1f1;
$text-color-medium: #C1C1C1;

/* background */
$bg-content: #fff;
$bg-dark: #252525; /* dark grey */
$bg-light: #F1F1F1; /* light grey */
$bg-primary: #EB0027; /* red */
$bg-secondary: #00417E; /* blue */

$bg-btn: #EB0027;

/* line-colors */
$border-basic: #D3D3D3;
$border-light: #f1f1f1;
$border-dark: #575757;



/* ==========================================================================
   Breakpoints
   ========================================================================== */
